html {
  width: 100%;
}
body {
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
  font-size: 22px;
  background-color: black;
}
body,
  a {
    color: seashell;
}
footer {
  padding-left: 20px;
  text-align: left;
}
header img {
  padding: 10px;
  height: 50px;
  text-align: left;
}
header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  background-color: black;
  display: flex;
}
header nav {
  padding-top: 22px;
  padding-left: 1400px;
}


#Mission-Background {
background-image: url("../mission-background.jpg");
background-repeat: no-repeat;
height: 700px;
padding-top: 70px;
background-position: center;
}

.Our-Mission {
  background-color: black;
  width: 1200px;
  text-align: center;
  margin: 210px auto -190px auto;
}


#Tea-of-the-Month {
  width: 1000px;
  text-align: center;
  margin: auto;
}
.Featured-Tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 1000px;
}
.Tea {
  flex-direction: column;
}
.Featured-Tea h4{
  text-align: center;
  margin-top: 10px;
}
.Featured-Tea img {
  height: 200px;
  width: 300px;
  margin: 0px 15px;
}


#Locations {
  background-image: url("../locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 1155px;
  margin: auto;
}

#Locations h2 {
  text-align: center;
  padding-top: 70px;
}

.Locations {
  display: inline-block;
  text-align: center;
  background-color: black;
  width: 300px;
  height: 250px;
  opacity: 1;
  padding-top: 15px;
  margin: auto 40px;
  justify-content: center;

}

.Locations span {
  vertical-align: 25px;

}

.Contact {
  text-align: center;
}
